* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

#hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(20, 13, 13, 0.600), rgba(0, 0, 0, 0.445)), url(images/donation3.jpg) no-repeat center / cover;
    color: white;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .info h1 {
    font-size: 50px;
    margin-bottom: 1rem;
    text-align: center;
}

.container .info p {
    font-size: 1.2rem;
    text-align: center;
}

.link-button {
    text-decoration: none;
    display: inline-block;
    background-color: tomato;
    border-radius: 4px;
    font-size: 1.8rem;
    padding: 0.5em 2em;
    margin-top: 2rem;
    color: white;

}

.text {
    padding: 20px;
    margin: 10px;
    max-width: 100%;
}

.text h1 {
    font-size: 40px;
    text-align: center;
    justify-content: center;
}

.text p {
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
}

.sub-btn {
    text-decoration: none;
    align-items: center;
}

.footer {
    background-color: black;
    width: 100%;
    height: 20%;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.footer h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: tomato;
}

.footer p {
    text-align: center;
    color: white;
}